<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc
		 http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
		http://www.springframework.org/schema/beans
		 http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context-4.0.xsd">
	
	<context:annotation-config />
    
	 <context:component-scan base-package="com.briup.web"></context:component-scan>
	
	<!-- 用来过滤静态资源如果发现是静态资源的请求，就将该请求转由Web应用服务器默认的Servlet处理，
	如果不是静态资源的请求，才由DispatcherServlet继续处理 -->
	
	<mvc:default-servlet-handler />
	
	<mvc:view-controller path="/index" view-name="index"/>
	<mvc:view-controller path="/left" view-name="left"/>
	<mvc:view-controller path="/top" view-name="top"/>
	<mvc:view-controller path="/help" view-name="help"/>
	<mvc:view-controller path="/top" view-name="top"/>
	<mvc:view-controller path="cust_info/add_customer" view-name="add_customer"/>
<!-- 	<mvc:view-controller path="/cust_info/list" view-name="list"/> -->
	
	<!-- 视图解析器的配置 -->
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/content/" />
		<property name="suffix" value=".jsp" />
	</bean>
	
	<mvc:annotation-driven>
		<mvc:message-converters register-defaults="true">
			<bean
				class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
				<property name="supportedMediaTypes">
					<list>
						<value>application/json;charset=UTF-8</value>
						<value>text/html;charset=UTF-8</value>
					</list> 
				</property>
			</bean>
		</mvc:message-converters>
	</mvc:annotation-driven>


</beans>
